{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static '/base/css/login.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" >
        <link rel="stylesheet" href="{% static '/FontAwesome/css/all.min.css' %}">
    </head>
    
    <body>
        <div class="form-wrapper">
            <div class="left" id="left">
                <h2>Log in</h2>
                <form method='post' action="">
                    {% csrf_token %}
                    <p>
                        <label for="id_username">Mã nhân viên</label>
                        <i class="fa-solid fa-circle-user"></i>
                        <input type="text" name="username" required id="id_username" maxlength="20">
                    </p>
                    <p>
                        <label for="id_password">Mật khẩu</label>
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" required id="id_password">
                    </p>
                    <p>
                        
                        <span><a href="">Quên mật khẩu?</a></span>
                    </p>
                    <input type="submit" name="" id="" value="Login">
                </form>
                    <div class="register">
                        <span><a href="">Đăng kí?</a></span>
                    </div>
            </div>
            <div class="right" id="right"></div>
        </div>
        
    </body>
    
</html>


