*{
    box-sizing: border-box;
    font-family: "Courgette", sans-serif;
}

body{
    background-color: rgba(212, 212, 212, 0.76);
}

.form-wrapper{
    position: absolute;
    display: grid;
    grid-template-columns: 45% 55%;
    width: 40%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.form-wrapper .right{
    background-image: url('./login2.jpg');
    background-size: cover;
}